.m-menu {
  width: 200px;
  background-color: #393a3d;
  color: #fff;
  height: 100vh;
}

.m-menu a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.m-logo-container {
  height: 56px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-option-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat -424px -86px;
}

.m-logo-icon {
  height: 32px;
}

.m-menu-item {
  height: calc(100vh - 56px);
  padding-top: 20px;
  overflow: auto;
}

.m-menu-item-change{
  padding-top: 20px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.m-item-router {
  height: 44px;
  display: flex;
  align-items: center;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 4px;
  border-left: 6px solid transparent;
  position: relative;
}

.m-item-router.active {
  border-left: 6px solid rgb(44, 160, 28);
}

.m-item-router.active::before,
.m-item-router:hover::before {
  content: "";
  background: rgb(212, 215, 220);
  opacity: 0.2;
  width: calc(100% + 6px);
  height: 44px;
  left: -6px;
  top: 0px;
  position: absolute;
}

.m-item-icon {
  margin-right: 12px;
}