.m-tbody .m-tbody-box {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
}

.m-tbody .m-tbody-box::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .2) 20%, hsla(0, 0%, 100%, .5) 60%, hsla(0, 0%, 100%, 0));
    -webkit-animation: shimmer .8s infinite;
    animation: shimmer .8s infinite;
    content: ""
}

.m-tbody-box-birthday{
    text-align: center;
}
.m-th-title-birthday{
    display: inline-block;
    text-align: center;
    padding-right: 0;
}

.m-tbody .m-tbody-circle {
    border-radius: 50%
}

.m-tbody .m-tbody-rectangle {
    border-radius: 2px
}

.m-tbody .m-tbody-text {
    height: 1.125rem
}

.m-tbody .m-tbody-text .m-tbody-box {
    border-radius: 1px
}